body {
    font-family: sans-serif;
}



table {

    border-collapse: collapse;
    
     border: 1px solid black;
     text-align: center;
     vertical-align: middle;
}
caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;
    

    

}
thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}



th, td {
   
    padding: 8px;
}

thead th {
width: 25%;
}

.cell-highlight {
    background-color: gold;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background-color: #fff;
}
tbody tr:nth-child(even) {
    background-color: #eee;
}
tbody th {
    background-color: #36c;
    color: #fff;
    text-align: left;
}
tbody tr:nth-child(even) th {
    background-color: #25c;
}
    
.den {
    background-color: greenyellow;
    font-weight: bolder;

}
.ken {
    background-color: blueviolet;
    font-weight: bolder;
}